@import "~bootstrap/scss/bootstrap";

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.choose_data {
  width: 400px;
  height: 200px; 
  margin-top: 40%;
}

.add_user {
  margin: 10px 0;
  .add_user__content {
    
    margin: 10px 0;
    display: none;
  }
  .add_user__content.active {
    display: block;
  }
}

thead {

  div.sort_arrow {
    display: inline;
    visibility: hidden;
    svg {
      margin-left: 5px;
      fill: #dc3545;
    }
  }

  div.sort_arrow.active {
    visibility: visible;
  }

  div.sort_arrow.up {
    svg {
      fill: #28a745;
      transform-origin: center center;
      transform: rotate(180deg);
    }
  }
}